@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}
.container > p{
    font-size: 32px;
}

.options{
    position: relative;
    padding-left: 40px;
}
#options span{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
/* .options input{
    opacity: 0;
} */
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}

.animate {
  width: 100px;
  height: 100px;
   position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {

  0%   {color:black; left:-70px; top:0px;opacity:.0;}
  100%  {color:white; left:0px; top:0px;opacity:.9;}
  
}